<style type="text/css">
body{
font-size: small;
}
li{
font-size: small;
}
</style>
<h1>Preston Maness - January 08 2025</h1>

<ul>
<li><strong>Phone</strong>: 512-955-1048 (I'm on <a href="https://signal.org/">Signal</a>)</li>
<li><strong>Email/Public-Key</strong>: <a href="mailto:aspensmonster@riseup.net?subject=About%20Your%20Resume">aspensmonster@riseup.net</a>
<ul>
<li>Fingerprint: 7989 5B2E 0F87 503F 1DDE  80B6 4976 5D7F 0DDD 9BD5</li>
<li>Keyoxide (like Linktree): <a href="https://keyoxide.org/hkp/79895B2E0F87503F1DDE80B649765D7F0DDD9BD5">https://keyoxide.org/hkp/79895B2E0F87503F1DDE80B649765D7F0DDD9BD5</a></li>
</ul></li>
<li><strong>Code</strong>: <a href="https://codeberg.org/aspensmonster?tab=activity">https://codeberg.org/aspensmonster/</a> </li>
<li><strong>StackExchange/SuperUser</strong>: <a href="https://superuser.com/users/220550/preston-maness">https://superuser.com/users/220550/preston-maness</a></li>
<li><strong>LinkedIn</strong>: <a href="http://www.linkedin.com/pub/preston-maness/8b/973/202">http://www.linkedin.com/pub/preston-maness/8b/973/202</a></li>
</ul>

<h1>Experience, Certifications, and Education</h1>

<ul>
<li><p>Employment</p>

<ul>
<li><strong>WhAtS WiTh ThE GaP iN yOuR ReSUmE?</strong> (October 2022 - Present): Chronic
illness is a bitch :) I suffer from Chronic Pancreatitis. It tends to put
me in the hospital at least twice a year for at least a week at a time, and
likes to also flare up inbetween those visits too. I <em>have</em> had some
intermittent employment between October 2022 and now, but, sUrPRiSiNgLY,
employers don't like it when their employees are sick "too much." Maybe you'll
be the exception?</li>
<li><strong>Viatech</strong> (10 months ; December 2021 - September 2022): <strong>Backend
Software Engineer</strong>, maintain and develop multiple microservices written
in dotnet core and deployed via Azure DevOps to a managed Kubernetes cluster.
Services used included Azure Functions (including Durable Functions), Azure
DevOps, Azure App Configuration, Azure Service Bus, Azure Container Registry,
and Azure Application Insights.
<ul>
<li>Developed an email notification system based off of Razor templates.</li>
<li>Created and maintained a mointoring dashboard with App Insights.</li>
<li>Migrated several microservices from dotnet core 3.1 to 6 (also
entailed Azure Functions updates).</li>
<li>Design, build, test, maintain API endpoints according to product
needs, making use of design patterns like Repositories and Providers,
and libraries like Entity Framework.</li>
</ul></li>
<li><p><strong>360Connect</strong> (3 years, 5 months ; Apr. 2018 - November 2021):
<strong>Software Engineer</strong>, maintain legacy C# codebases, develop new ones,
Typescript Angular front-end for three internal portals.</p>

<ul>
<li>Bootstrapped an Angular 12 customer portal with premium PrimeNG
theme, train junior hires on Angular framework principles, guide and
review development of the portal. This portal should replace legacy portals by
2022Q1 and provide more real-time feedback to our customers on their
performance. The intended goals are increased customer satisfaction and
retention.</li>
<li>Replaced a manual Mystery Shop program for our customers with an
automated one that utilized a third-party service to programmatically
obtain tracking phone numbers so that our customers could measure their sales
teams' performance with leads we sent them (how often were buyers called, how
quickly). Early response from customers is mostly enthusiastic, and the hope is
that we cut churn in half with this new service.</li>
<li>Implemented some Lightning Web Components and VisualForce pages in our
SalesForce Org in order to assist Account Management in syncing specific data
between SalesForce and our own internal systems.</li>
<li>Introduced automated transactional emails (mailgun, MJML) with
trackable phone numbers and trackable links for measuring engagement
between buyers and suppliers regarding suppliers' services, attempting to
encourage buyers to contact sellers directly (this has resulted in improved ROI
for some customers and in turn improved retention/reduced churn).</li>
<li>Built ASP.NET Web API 2 back-end for new Angular front-ends. Balance
speed of releases with management of technical debt. Aim to follow
SOLID principles. Manage CI infrastructure and deployment of application to
Azure App Services. (Incomplete list of involved libraries, frameworks, etc:
SimpleInjector for DI/IOC, FluentValidation for initial payload validating,
Entity Framework for database interaction, HangFire for off-pipeline jobs,
ASP.NET Identity for user management, NUnit for unit and integration testing)</li>
<li>Re-built an internal tool for performing automated, near real-time
bidding on SEM platforms (AdWords, Bing) that reflected our current
inventory. Resulted in improved margin/ROAS.</li>
</ul></li>
<li><p><strong>360Connect</strong> (2 years ; Apr. 2016 - Mar. 2018): <strong>Software Support
Engineer</strong>, involved in managing systems integrations and analytics
pipelines (managing middleware and certain infrastructure).</p>

<ul>
<li>Built and maintained <a href="http://snowplowanalytics.com/">Snowplow
Analytics</a> real-time and batch
pipeline on AWS, utilizing Ansible to manage the infrastructure as code. This
pipeline provides the organization with thorough event-level data on all
integrated systems and online properties, enabling the organization to perform
more thorough and extensible business analysis at a fraction of the cost of
alternatives (Google, Adobe, et.al. offerings).</li>
<li>Provided feature enhancements to Coffeescript plugins (tested with
Mocha/Chai) for the
<a href="http://activeprospect.com/products/leadconduit/">LeadConduit</a> platform:
<ul>
<li><a href="https://github.com/activeprospect/leadconduit-integration-custom/issues/26">extending XML integration</a></li>
<li><a href="https://github.com/activeprospect/leadconduit-integration-custom/pull/28">extending JSON integration</a></li>
<li><a href="https://github.com/activeprospect/leadconduit-integration-custom/pull/43">extending response handlers</a></li>
</ul></li>
<li>Made tweaks to a legacy C# codebase in order to capture analytics
data that was previously not collected.</li>
<li>Automated numerous aspects of position by utilizing public APIs and
python:
<ul>
<li>Wrote python script to <a href="https://documentation.mailgun.com/api-events.html#event-polling">appropriately
poll</a>
mailgun event API and upload to S3 for further ETL work and alerting.</li>
<li>Used python extensively to interact with <a href="http://docs.activeprospect.com/leadconduit/resources.html">LeadConduit Platform
API</a>
and programmatically manage/update/deploy lead flows. Also backed up daily data
to S3.</li>
<li>Wrote ETL scripts in python to marshal and munge data from S3
into Redshift, for later joining with other business
intelligence.</li>
</ul></li>
</ul></li>
<li><strong>Rackspace Inc.</strong> (11 months ; Oct. 2014 - Sep. 2015): <strong>GNU/Linux Systems
Administrator I</strong>. Everything I did at HostGator and more :)
Customer-facing support via calls and tickets. Position requires understanding
of Cisco and F5 firewalls, load balancers, and switches, along with a
high-level understanding of datacenter network architecture (aggrs, core
routers, edge routers, multiple back-end management networks). Work with DAS,
NAS, and SAN storage mechanisms.  Basic VMware tasks (clone, resize, vMotion,
etc). Support and troubleshoot our OpenStack-based cloud products. Developed
internal python tool that interacts with several internal REST APIs to automate
numerous issues where networking and systems administration teams intersect in
an effort to reduce response times to incidents even further.</li>
<li><strong>HostGator.com LLC</strong> (13 months ; Jan. 2011 - Feb. 2012): GNU/Linux Web
Hosting Systems Administration (Calls, Chats, Email), understanding of
Apache, Exim, Dovecot, MySQL, cPanel, WHM, bash/perl scripting, strace
debugging, customer site performance evaluation and optimization. Pushed for
more thorough, root-cause analysis of customer issues at <strong>first contact</strong> to
avoid unnecessarily prolonging service degradation.</li>
</ul></li>
<li><p>Certifications and Continuing Education</p>

<ul>
<li>I have read <a href="https://doc.rust-lang.org/book/">The Rust Programming
Language</a> book cover-to-cover.</li>
<li>Pluralsight <a href="https://app.pluralsight.com/profile/preston-maness">profile</a></li>
<li>Build WebApps with Blazor, May 2022, <a href="https://s3-us-west-2.amazonaws.com/lx-common-resources/certificates/u524117/s2635-U8f97093b-a1cd-47cb-9dcf-98b57d97abfb/cert.pdf">Manning Publications
Co.</a></li>
<li>Microsoft Excel Beginner to Advanced, April 2022,
<a href="https://www.udemy.com/certificate/UC-ab7d80fa-1761-4eae-aa25-f440171d6bc8/">Udemy</a></li>
<li>(Expired) Red Hat Certified System Administrator, RHEL 7,
<a href="https://www.redhat.com/wapps/training/certification/verify.html?certNumber=150-035-228&amp;isSearch=False&amp;verify=Verify">150-035-228</a></li>
</ul></li>
<li><p>Education</p>

<ul>
<li>Bachelor of Science, Electrical Engineering, Computer Engineering
concentration, Texas State University, class of 2014</li>
<li>Associate of Science, Applied Mathematics, Texas State University, class
of 2014</li>
<li>In Progress: Associates of Science, Nursing, Tarrant County College.</li>
</ul></li>
</ul>

<h1>The Involvement</h1>

<ul>
<li>Community involvement
<ul>
<li>Member of the Party for Socialism and Liberation since 2022. Heavily
involved in an effort to struggle against rate hikes at Austin Energy
that would have rewarded wasteful energy users with lower bills, while stiffing
working class Austinites with higher bills -- up to 80 percent higher -- for
conserving energy. This work entailed...
<ul>
<li>Giving public testimony at Austin City Council against the rate hike.</li>
<li>Canvassing working class neighborhoods to speak to Austinites in English
and Spanish about the upcoming rate hike.</li>
<li>Organizing with coalition members like the CPUSA to flyer working class
neighborhoods to raise awareness for the rate hike.</li>
<li>Agitating on social media to raise awareness and fight the rate hike
with testimony, delivered to city council, from ordinary working-class
Austinites.</li>
<li>Speaking to local media about our efforts against the rate hike.</li>
</ul></li>
<li>Member of the Austin DSA from 2020 to 2022. Heavily involved in a ballot
measure election effort in 2021 (against Proposition B in May 2021, which
criminalized homelessness and unfortunately passed despite our efforts)
<ul>
<li>Managed <a href="https://github.com/MoveOnOrg/Spoke">Spoke</a> software (mass
peer-to-peer texting software hosted on Heroku and backed by Twilio and
Auth0). Ensured texters were able to contact 50,000 Austinites in the lead-up
to the election regarding an anti-homeless ordinance that was on the ballot.
Also wrote custom code to extend this software in connection with our
efforts(see "Participation in Open Source and Free Software Community" section)</li>
<li>Administered dozens of events on
<a href="https://actionnetwork.org/">ActionNetwork</a> for the effort, ensuring
pixel tracking was in place for volunteers and positive IDs so that we could
reach them across multiple mediums. Crafted some mass emails in ActionNetwork
too.</li>
<li>Built, admined, and updated
<a href="https://web.archive.org/web/20210622021632/https://www.noonpropb2021.org/">noonpropb2021.org</a>
off of a pre-made template, hosted on AWS CloudFront. Involved some custom
Javascript (jQuery).  Close integration with
<a href="https://secure.actblue.com/">ActBlue</a> for fundraising and
<a href="https://actionnetwork.org/">ActionNetwork</a> and
<a href="https://www.mobilize.us/">Mobilize</a> for volunteer recruitment and management.</li>
<li>Helped administer social media profiles and requests for donations.</li>
<li>Organized a yard-sign drive that involved raising several thousand
dollars, working with a designer to produce a single-color sign, having
two 500-count print runs of that sign, and organizing a volunteer effort to
distribute hundreds of those signs to dozens of zip codes around Austin.</li>
<li>Bottom-lined virtual phonebanks in opposition to anti-homeless
ordinances that were on the ballot in Austin.</li>
<li>Managed Facebook and Google ad campaigns in opposition to anti-homeless
ordinances that were on the ballot in Austin.</li>
<li>Integrated multiple disparate data sources into a data warehouse to
perform positive ID analysis via SQL.</li>
</ul></li>
<li>Volunteered as a Bernie Victory Captain (2019-2020): 20+ hours per week
of organizing, recruiting for, and bottom-lining textbanks, phonebanks,
and neighborhood canvasses during the 2020 Democratic Party primary race in
support of Bernie Sanders' bid for the Democratic Party nomination for the
presidency in 2020.</li>
</ul></li>
<li>Participation in Open Source and Free Software Community
<ul>
<li>Currently (2023-06-19) contributing to the
<a href="https://keyoxide.org/">Keyoxide</a> project.  Several small PRs provided:
<ul>
<li>Make URL scheme configurable in library, <a href="https://codeberg.org/keyoxide/doipjs/pulls/48">PR
48</a></li>
<li>Make URL scheme configurable in app, <a href="https://codeberg.org/keyoxide/keyoxide-web/pulls/164">PR
164</a></li>
<li>Fix formatting of ActivityPub profile display names, <a href="https://codeberg.org/keyoxide/doipjs/pulls/49">PR
49</a></li>
<li>Improve handling of fingerprints that don't precisely conform to
openpgp4fpr specification, <a href="https://codeberg.org/keyoxide/doipjs/pulls/50">PR
50</a></li>
</ul></li>
<li><a href="https://github.com/MoveOnOrg/Spoke/pull/1995">Feature enhancement of
Spoke</a> (Extended Spoke to
provide ability to push payloads of events that occurred in Spoke to external
systems via HTTP JSON payloads. Used this with the Austin DSA to automatically
update internal election spreadsheet data on Google Docs via Zapier and to
update the team internally via Slack bots.)</li>
<li><a href="https://github.com/BOINC/boinc/issues/1530">Staying on top of bugs my code
introduces</a> (My idle
detection code for the BOINC project had a null pointer dereference bug under
certain environment conditions)</li>
<li><a href="https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=815214">Debian GNU/Linux Package
Maintenance</a>
(Fixed logging problems when moving from sysv init to systemd by tweaking the
service file of the BOINC package.)</li>
<li><a href="https://github.com/BOINC/boinc/pull/1453">Regression squash and feature enhancement for BOINC distributed
computing project</a> ( <strong>C++</strong> ;
A pull request that fixed idle detection regression in BOINC client
--originally reported in a <a href="https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=721298">Debian GNU/Linux
bug</a> I helped to
troubleshoot-- and improved its handling of various edge cases. This also
introduced me to the autotools build suite/toolchain.)</li>
<li><a href="https://savannah.gnu.org/bugs/index.php?36570">Bug Squashing with GNU FSF's
<code>wget</code></a> ( <strong>C</strong> ; Tracked
down a stubborn segfault that was killing long-running web scrapes prematurely
in a non-recoverable manner)</li>
</ul></li>
<li>Languages and Tools
<ul>
<li><strong>Programming</strong>: Bash, Python, SQL, Javascript-related, C#, Typescript,
NodeJS (older experience: C++, C, Java, VHDL, HCS12 assembly)</li>
<li><strong>Tooling</strong>: git, GCC, eclipse, make, Doxygen, jenkins, valgrind, Visual
Studio, numerous javascript-related tools, Excel</li>
<li><strong>Operations</strong>: 
<ul>
<li>GNU/Linux: Apache, MySQL, PHP, Perl, Varish HTTP accelerator,
Wordpress, MediaWiki, Nagios monitoring, pnp4nagios, Vagrant VM
manager, Ansible automation, APT and RPM package management, Debian, CentOS and
RHEL distribution experience, basic LDAP authentication and authorization
mechanisms.</li>
<li>Windows: Experience with Azure App Services, Azure SQL</li>
<li>AWS: Experience with EC2, LCs, ASGs (and lifecycle hooks), ELBs, S3,
VPCs, CloudWatch, DynamoDB, Kinesis streams, Elasticsearch Service,
EMR, Redshift, IAM; all typically managed with an infrastructure-as-code
approach with Ansible. Also utilize the AWS CLIs.</li>
<li>Networking: Understanding of: Cisco firewall and CSS configs, F5 load
balancer configs, OSI network model, VLANs (I also dabble with
Mikrotik network gear).</li>
</ul></li>
</ul></li>
</ul>
